<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Airnan.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.freeapps.airnan</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/Airnan.app/Icon.png</string>
			<string>Applications/Airnan.app/Icon512.png</string>
			<string>Applications/Airnan.app/Icon114.png</string>
			<string>Applications/Airnan.app/Icon57.png</string>
		</array>
	</dict>
	<key>ArchiveVersion</key>
	<real>1</real>
	<key>CreationDate</key>
	<date>2011-04-28T22:58:28Z</date>
	<key>Name</key>
	<string>AIRNAN</string>
	<key>SchemeName</key>
	<string>AIRNAN</string>
	<key>Status</key>
	<string>Passed Validation</string>
</dict>
</plist>
